<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.davidboultbee.nfc"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>NFC tests</name>

    <description>
        Trying to get NFC to work
    </description>

    <author href="https://build.phonegap.com" email="dboultbee@gmail.com">
    	David Boultbee 
    </author>
    
    <preference name="permissions" value="none" />    
    
	<plugin name="com.chariotsolutions.nfc.plugin" source="pgb" spec="0.5.1" />
	<plugin name="org.apache.cordova.camera" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.console" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.contacts" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.device" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.device-motion" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.device-orientation" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.dialogs" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.file" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.file-transfer" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.geolocation" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.globalization" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.inappbrowser" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.media" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.media-capture" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.network-information" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.splashscreen" source="pgb" spec="n/a" />
	<plugin name="org.apache.cordova.vibration" source="pgb" spec="n/a" />

       
    <content src="index.html" />    

</widget>