* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

html, 
body {
	height:100%;
	width:100%;
	padding:0;
}

body {	
	background:#222222;
}

#scan_result {
	width:100%;
	height:76%;
	top:12%;
	left:0;
	position:absolute;
}

#scan_result.waiting {	
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('resources.scan.gif');
}

#scan_result .text {
	position:absolute;
	bottom:0;
	left:0;
	
	width:100%;
	height:50px;
	color:#fefefe;
}